@use "../../../styles/breakpoints";

.container {
  margin-top: 2.4rem;
  word-break: break-all;

  .body {
    gap: 3.3rem;
    display: flex;
    flex-direction: column;
  }
}

@include breakpoints.mq(tablet) {
  .container {
    margin-top: 4.3rem;

    .body {
      gap: 4rem;
    }
  }
}
