@use "../../../styles/breakpoints";

.container {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
  justify-content: space-between;

  .logo {
    height: 3.2rem;
    width: 2.8055rem;
  }

  .action {
    display: flex;
    align-items: center;

    .line {
      width: 0.1rem;
      height: 3.2rem;
      display: block;
      margin: 0 1.6rem;
      background: var(--E9E9E9);
    }
  }
}

@include breakpoints.mq(tablet) {
  .container {
    margin-bottom: 5.15rem;

    .logo {
      width: 3.2rem;
      height: 3.65rem;
    }
  }
}
