@use "../../../styles/breakpoints";

.line {
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
}

.container {
  .source {
    font-weight: 400;
    color: var(--757575);
    text-decoration-line: underline;
  }

  .list {
    gap: 0.8rem;
    display: flex;
    margin-top: 0.8rem;
    flex-direction: column;

    &__item {
      gap: 0.9rem;
      display: flex;
      align-items: center;

      a {
        font-weight: 400;
        color: var(--2D2D2D);
        text-decoration-line: underline;
      }
    }
  }
}

@include breakpoints.mq(tablet) {
  .container {
    gap: 2.1rem;
    display: flex;
    align-items: flex-start;

    .list {
      margin-top: 0;
    }
  }
}
