.container {
  z-index: 1;
  gap: 1.6rem;
  display: flex;
  padding: 2.4rem;
  position: relative;
  border-radius: 1.6rem;
  flex-direction: column;
  background: var(--FFFFFF);
  box-shadow: var(--dropdown-box-shadow);

  &__item {
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--2D2D2D);

    &:hover {
      color: var(--A445ED);
    }

    &--0 {
      font-family: "Inter-Bold";
    }

    &--1 {
      font-family: "Lora-Bold";
    }

    &--2 {
      font-family: "Inconsolata-Bold";
    }
  }
}
